[submodule "eikosany"]
	path = eikosany
	url = https://github.com/AlgoCompSynth/eikosany.git
	branch = main
[submodule "consonaR"]
	path = consonaR
	url = https://github.com/AlgoCompSynth/consonaR.git
	branch = main
